#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  min-width: 500px;
}

.play-area > h1,
.play-area > p {
  align-self: flex-start;
  text-align: left;
  margin-left: 0;
}

.hand.room-hand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 16px;
}

.hand.room-hand .deck {
  margin-right: 40px; /* Extra space between deck and room cards */
}

.hand.room-hand .card:not(.deck) {
  margin-right: 8px;
}

.hand.weapon-hand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 16px;
}

.hand.weapon-hand .card {
  margin-right: 8px;
}

.deck-container {
  margin-right: 1em;
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.hidden {
  visibility: hidden;
}